GMQL-Repository/src/main/resources/gmqlSchemaCollection.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://genomic.elet.polimi.it/entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="gmqlSchemaCollection">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="gmqlSchema">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="field" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="type" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="name"/>
            <xs:attribute type="xs:string" name="type"/>
            <xs:attribute type="xs:string" name="coordinate_system" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="name"/>
    </xs:complexType>
  </xs:element>
</xs:schema>