GMQL-Importer/Example/xml/configurationSchema.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="root" type="rootType">
        <xs:annotation>
            <xs:documentation>Literally the root of the xml document.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="settingsType">
        <xs:annotation>
            <xs:documentation>Contains the general settings for the application.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element type="xs:string" name="output_folder">
                <xs:annotation>
                    <xs:documentation>Root working directory for the application.</xs:documentation>
                    <xs:documentation>Paths inside the configuration xml are relative to this path.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:boolean" name="download_enabled">
                <xs:annotation>
                    <xs:documentation>Top level filter for allowing the application to download.</xs:documentation>
                    <xs:documentation>If false, no source will be downloaded.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:boolean" name="transform_enabled">
                <xs:annotation>
                    <xs:documentation>Top level filter for allowing the application to transform.</xs:documentation>
                    <xs:documentation>If false, no source will be transformed.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:boolean" name="load_enabled">
                <xs:annotation>
                    <xs:documentation>Top level filter for allowing the application to load.</xs:documentation>
                    <xs:documentation>If false, no source will be loaded.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="parameterType">
        <xs:annotation>
            <xs:documentation>Generic parameter with description, key name and value.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element type="xs:string" name="description" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Explanation of what means the parameter in the application.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="key">
                <xs:annotation>
                    <xs:documentation>Name of the parameter.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="value">
                <xs:annotation>
                    <xs:documentation>value of the parameter.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="parameter_listType">
        <xs:annotation>
            <xs:documentation>List of parameters for source/dataset.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element type="parameterType" name="parameter" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="schema_location_type" final="restriction" >
        <xs:annotation>
            <xs:documentation>Enumeration of possible locations for the schema files.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="local" >
                <xs:annotation>
                    <xs:documentation>Schema file is inside the root working directory.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="http" >
                <xs:annotation>
                    <xs:documentation>Access through http.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ftp" >
                <xs:annotation>
                    <xs:documentation>Access through ftp.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="schemaType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="schema_location_type" name="location" use="required">
                    <xs:annotation>
                        <xs:documentation>Url for the schema file of the dataset.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="datasetType">
        <xs:annotation>
            <xs:documentation>Represents a dataset, it belongs to a source and has internal settings.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element type="xs:string" name="output_folder">
                <xs:annotation>
                    <xs:documentation>Working directory for the dataset, subfolder of its source.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="schemaType" name="schema">
                <xs:annotation>
                    <xs:documentation>URL of the schema file.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:boolean" name="download_enabled">
                <xs:annotation>
                    <xs:documentation>Indicates whether the dataset has to be downloaded.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:boolean" name="transform_enabled">
                <xs:annotation>
                    <xs:documentation>Indicates whether the dataset has to be transformed.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:boolean" name="load_enabled">
                <xs:annotation>
                    <xs:documentation>Indicates whether the dataset has to be loaded.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="parameter_listType" name="parameter_list">
                <xs:annotation>
                    <xs:documentation>List of parameters for the dataset.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="required">
            <xs:annotation>
                <xs:documentation>Name of the dataset, final name will be "sourceName"_"datasetName".</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="dataset_listType">
        <xs:annotation>
            <xs:documentation>List of datasets inside a source.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element type="datasetType" name="dataset" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="sourceType">
        <xs:annotation>
            <xs:documentation>Represents a source, it has internal settings and contains a list of datasets.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element type="xs:string" name="url">
                <xs:annotation>
                    <xs:documentation>Url address for the source.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="output_folder">
                <xs:annotation>
                    <xs:documentation>Working directory of the source, subfolder of root output folder</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="downloader">
                <xs:annotation>
                    <xs:documentation>Indicates which downloader has to be used by the source.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="transformer">
                <xs:annotation>
                    <xs:documentation>Indicates which transformer has to be used by the source.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="loader">
                <xs:annotation>
                    <xs:documentation>Indicates which loader has to be used by the source.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:boolean" name="download_enabled">
                <xs:annotation>
                    <xs:documentation>Indicates whether the source is enabled to be downloaded, rules over dataset and is ruled by root settings.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:boolean" name="transform_enabled">
                <xs:annotation>
                    <xs:documentation>Indicates whether the source is enabled to be transformed, rules over dataset and is ruled by root settings.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:boolean" name="load_enabled">
                <xs:annotation>
                    <xs:documentation>Indicates whether the source is enabled to be loaded, rules over dataset and is ruled by root settings.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="parameter_listType" name="parameter_list">
                <xs:annotation>
                    <xs:documentation>List of parameters needed for the source.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="dataset_listType" name="dataset_list">
                <xs:annotation>
                    <xs:documentation>List of datasets contained by the source.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="required">
            <xs:annotation>
                <xs:documentation>Name for which the source is going to be handled.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="source_listType">
        <xs:annotation>
            <xs:documentation>List of sources to be handled in the configuration file.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element type="sourceType" name="source" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="rootType">
        <xs:annotation>
            <xs:documentation>Root node contains general settings and list of sources.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element type="settingsType" name="settings"/>
            <xs:element type="source_listType" name="source_list"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
